<%- include('../_partial/_header'); -%>
<div class="col-md-6 offset-md-3"> 
    <div class="container col-md-12" style="margin: 1em 0em 1em 0em; min-height: 500px;">
    <h1 >Log In</h1>
    <br/>
    <form class="form-signin" method="POST" action="/login">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="text" class="form-control" placeholder="Email" name="email" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" placeholder="Password" name="password" id="exampleInputPassword1">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

<%- include('../_partial/_footer'); -%>