<%- include('../_partial/_header'); -%>

<%- include('../_partial/_select_agent'); -%>
<div class="col-md-4">
    <h2> This should be in the 3rd column</h2>
</div>
<div class="col-md-4">
    <h2> This should be in the 4th column</h2>
</div>
</div> <!-- ends the row div, place columns above this-->
<%- include ('../_partial/_footer'); -%>