
<%- include('../_partial/_header'); -%>
<%- include('../_partial/_select_agent'); -%>


<div class="col-md-10"> <!-- RHS column -->
    <div class="row"> <!-- top row -->
        <div class="row">
            <h4 id="page_title_label"></h4>
        </div>
        <div class="col-md-4">
            <h4 id="number_of_inspections_label"># Inspections: </h4>
        </div>
        <div class="col-md-4">
            <h4 id="average_score_label">Average Score: </h4>
        </div>
        <div class="col-md-1">
        </div>
        <div class="col-md-3">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#0d6efd" class="bi bi-calendar-fill" viewBox="0 0 24 24">
              <path fill-rule="evenodd" d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 3.5c0-.276.244-.5.545-.5h10.91c.3 0 .545.224.545.5v1c0 .276-.244.5-.546.5H2.545C2.245 5 2 4.776 2 4.5v-1zm7.336 9.29c-1.11 0-1.656-.767-1.703-1.407h.683c.043.37.387.82 1.051.82.844 0 1.301-.848 1.305-2.164h-.027c-.153.414-.637.79-1.383.79-.852 0-1.676-.61-1.676-1.77 0-1.137.871-1.809 1.797-1.809 1.172 0 1.953.734 1.953 2.668 0 1.805-.742 2.871-2 2.871zm.066-2.544c.625 0 1.184-.484 1.184-1.18 0-.832-.527-1.23-1.16-1.23-.586 0-1.168.387-1.168 1.21 0 .817.543 1.2 1.144 1.2zm-2.957-2.89v5.332H5.77v-4.61h-.012c-.29.156-.883.52-1.258.777V8.16a12.6 12.6 0 0 1 1.313-.805h.632z"/>

            </svg>
            <input type="text" name="daterange" size=25 id="daterange" text="11/12/2020 - 11/19/2020" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h4 id="chart_title">Inspections by Day</h4>
            <canvas id="agentCanvas"></canvas>
        </div>

        <div class="col-md-6">
            <h4 id="map_title">Property Locations</h4>
            <div id="map"></div>
        </div>
    </div>
    <row>
        <!-- the row below the bar chart -->
    </row>

</div>
</div> <!-- ends the row div, place columns above this-->
<script>
    // convert JSON stringify back into an object
    var agent_dataJSON = JSON.parse(<%-"'"+agent_data+"'"%>)

    // update HTML labels
    document.getElementById("number_of_inspections_label").innerHTML ="# Inspections: " + agent_dataJSON['number_of_inspections'];
    document.getElementById("average_score_label").innerHTML = "Average Score: " + agent_dataJSON['avg_score'];
    document.getElementById("page_title_label").innerHTML = "Performance Review of " + agent_dataJSON['agent_name']

</script>
<!-- Google maps plotting-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAH_H9EYGbVq07pReSI_32NAh1iODKDyno&callback=initMap&libraries=&v=weekly"defer></script>
<style type="text/css">
    /* Set the size of the div element that contains the map */
    #map {
    height: 300px;
    /* The height is 300 pixels */
    width: 100%;
    /* The width is the width of the web page */
    }
</style>
<script> // map script
    // mutable array of GPS data
    var GPS_data = agent_dataJSON['GPS_data'];

    // Initialize and add the map
    function initMap() {
    // The location of Townsville
    const townsville = { lat: -19.288, lng: 146.763 };
    // The map, centered at Townsville
    const map = new google.maps.Map(document.getElementById("map"), {
        zoom: 12,
        center: townsville,
        disableDefaultUI: true,
    });

    // iterate through each location object
    GPS_data.forEach(function(street_location) { 
        var audit_index = GPS_data.indexOf(street_location);
        var address = street_location[2];
        // coordinates in google maps format
        var coordinates = {lat:parseFloat(street_location[1], 10),lng:parseFloat(street_location[0], 10) }
        // red marker on map for each property
        var marker = new google.maps.Marker({
            position: coordinates,
            map: map,
    
        });
        // pop-up containing the address
        var infowindow = new google.maps.InfoWindow({
            content: address,
        });

        // on-click callback
        google.maps.event.addListener(marker, 'click', (function(marker, audit_index, infowindow) {
            return function() {
                infowindow.setContent(address);
                infowindow.open(map, marker);
            }
        })(marker, audit_index, infowindow));
    })
    }
    
</script>
<script> // script for date range
    function datediff(first, second) {
        // Take the difference between the dates and divide by milliseconds per day.
        // Round to nearest whole number to deal with DST.
        return Math.round((second-first)/(1000*60*60*24));
    }
    
    var start_date, end_date;
    const monthNames = ["January", "February", "March", "April", "May", "June",
        "July", "August", "September", "October", "November", "December"];
    var dateObj = new Date();
    var month = dateObj.getMonth()+1;
    var day = String(dateObj.getDate()).padStart(2, '0');
    var year = dateObj.getFullYear();
    
    var current_date = new Date(year + '-' + month + '-' + day);
    var min_date = new Date();
    // calculate the minimum date based on the length of the time series data
    min_date.setTime(current_date.getTime() - 1000*60*60*24* agent_dataJSON['number_of_audits_per_day'].length);
    // change text string in HMTL div
    document.getElementById('daterange').innerHTML = 'test';
    $(function() {
        $('input[name="daterange"]').daterangepicker({
            dateFormat: "yy-mm-dd",
            minDate: new Date(min_date),
            maxDate: new Date(current_date),
            startDate: new Date("2020-06-03"),
            endDate: new Date("2020-07-03"),
            locale: {
                format: "DD/MMM/YY"
            },
            opens: 'left'
            }, function(start, end, label) {
            // start and end are the two dates selected on the GUI
            start_date = start.format('YYYY-MM-DD'); // moment object
            end_date = end.format('YYYY-MM-DD');
            var start_index = datediff(min_date, start._d);
            var end_index = datediff(min_date, end._d)
            var new_stuff = ["'"+ agent_dataJSON['day_labels'].join("','") + "'"]
            updateLabels(start_index, end_index)
            updateChart(start_index, end_index, agentChart);
            updateMap(start_index, end_index);
            //update map
        });
        
    });
    

    function removeElementsWithValue(arr, val) {
        // removes all of the elements containing 'val' within the array 'arr'
        var i = arr.length;
            while (i--) {
                if (arr[i] === val) {
                    arr.splice(i, 1);
                }
            }
        return arr;
    }  

    function updateLabels(start, end){
        console.log('got here')
        var number_of_inspections_shown;
        var average_score_of_inpsections_shown;
        var temp_audit_score_per_day = [];
        // make a copy of audit_score_per_day without referencing the same object
        for (item in agent_dataJSON['audit_score_per_day']){
            temp_audit_score_per_day[item] = agent_dataJSON['audit_score_per_day'][item];
        }
        var audit_scores_without_zeros = removeElementsWithValue(temp_audit_score_per_day, 0).slice(start, end);
        number_of_inspections_shown = agent_dataJSON['number_of_audits_per_day'].slice(start, end).reduce((a, b) => a + b, 0);
        average_score_of_inpsections_shown = (audit_scores_without_zeros.reduce((a, b) => a + b, 0))/audit_scores_without_zeros.length;
        console.log('hello', audit_scores_without_zeros)
        // update the HTML text
        document.getElementById("number_of_inspections_label").innerHTML ="# Inspections: " + number_of_inspections_shown;
        document.getElementById("average_score_label").innerHTML = "Average Score: " + average_score_of_inpsections_shown.toFixed(2);
    }

    function updateChart(start, end, chart){
        var new_labels = agent_dataJSON['day_labels'].slice(start, end);
        var new_number_of_inspections_data = agent_dataJSON['number_of_audits_per_day'].slice(start, end);
        var new_average_audit_score_data = agent_dataJSON['audit_score_per_day'].slice(start, end)
        chart.data.labels = new_labels;
        chart.data.datasets[0].data = new_number_of_inspections_data;
        chart.data.datasets[1].data = new_average_audit_score_data;
        // TODO: add another axis here for average score for that day
        chart.update();
    }

    function updateMap(start, end){
        // slice the data that the map uses.

        // GPS data is sorted by date
        // sum the time series up until start
        var start_count = 0;
        var before_selected = agent_dataJSON['number_of_audits_per_day'].slice(0, start)
        for (var i = 0; i < before_selected.length; i++ ){
            start_count += parseInt(before_selected[i], 10);
        }

        // sum the time series up until end
        var end_count = 0; // end starts at one to avoid edge case
        var after_selected = agent_dataJSON['number_of_audits_per_day'].slice(0, end)
        for (var i = 0; i < after_selected.length; i++ ){
            end_count += parseInt(after_selected[i], 10);
        }
        GPS_data = agent_dataJSON['GPS_data'].slice(start_count, end_count)
        initMap()
    }
</script>

<script> // graph plotting using Chartjs
    var agentCanvasjs = document.getElementById('agentCanvas').getContext('2d');
    // Global Options
    Chart.defaults.global.defaultFontFamily.Chart = 'Lato';
    Chart.defaults.global.defaultFontSize.Chart = 18;
    Chart.defaults.global.defaultFontColor.Chart = '#000';
    Chart.defaults.global.hover.mode = 'nearest';
    var timeFormat = 'DD/MM/YYYY';
    barChartData = {
                labels: agent_dataJSON['day_labels'],
                datasets: [{
                label: '# of Inspections by ' + agent_dataJSON['agent_name'] ,
                yAxisID: 'number_of_audits',
                data: agent_dataJSON['number_of_audits_per_day'],
                backgroundColor:'rgba(255, 99, 132, 0.3)',
                borderColor:'rgba(255, 99, 132, 1)',
                borderWidth: 1
                }, 
                {
                label: 'Average Inspcetion Score' ,
                yAxisID: 'average_score',
                pointRadius: 5,
                pointStyle: 'rectRot',
                pointBackgroundColor: 'rgb(63, 127, 191, 0.5)',
                data: agent_dataJSON['audit_score_per_day'],
                backgroundColor:'rgb(63, 127, 191, 0.0)',
                borderColor:'rgb(63, 127, 191, 0)',
                pointBorderColor:'rgb(63, 127, 191, 1)',

                borderWidth: 1, 
                type: 'line',
                lineTension: 0
                }]
            };
    barChartOptions = {
                aspectRatio: 1.5,
                title:{
                    display:false,
                    text:'2020 Inspections by ' + agent_dataJSON['agent_name'],
                    fontSize: 20,
                    fontColor: '#000'
                },
                legend:{
                    display: false, // set to true to show the legend
                    position:'right',
                    labels:{
                        fontColor: '#000'
                    }
                },
                layout:{
                    padding:{
                        left:0, right:0, bottom:0, top:0
                    }
                },
                scales: {
                yAxes: [{
                    id: 'number_of_audits',
                    gridLines: {
                        display:false
                    },   
                    position: 'left',
                    ticks: {
                        suggestedMax: 8,
                        beginAtZero: true
                    },
                    scaleLabel: {
                        display: true,
                        labelString: 'Number of Inspections'
                    }
                }, 
                {
                    id: 'average_score',
                    gridLines: {
                        display:true
                    },  
                    position: 'right',
                    ticks: {
                        max: 100,
                        beginAtZero: true
                    },
                    scaleLabel: {
                        display: true,
                        labelString: 'Average Audit Score'
                    }
                }],
                xAxes: [{
                    gridLines: {
                        display:false
                    },
                    ticks: {
                        beginAtZero: true
                    },
                    scaleLabel: {
                        display: false,
                        labelString: 'Time'
                    }
                }]
                }

            };

    var agentChart = new Chart(agentCanvasjs, {
        type:'bar', // bar, horizontal, pie, line, doughnut, radar, polarArea
        data:barChartData,
        options:barChartOptions
    });
    updateChart(0, 31, agentChart);
    updateMap(0,31);

</script>

<%- include ('../_partial/_footer'); -%>