<script>
    function toggleText(agent_name_selected){
        // hide all the others
        // show the one that matches the audit_id

        var inspection_objects = document.getElementsByClassName('lefthandselector');

        for (var i=0; i < inspection_objects.length; i++){
            inspection_objects[i].style.display = "none";
        }
        
        var view_inspection = document.getElementById(agent_name_selected);
        view_inspection.style.display = "block";
    }
</script>
<div class="row" style="margin-top: 20px;" > <!-- up offset for row-->
    <div class="col-md-2 sidebar">
            <ul class="list-group" style="margin-top: -30px;"> <!-- down offset for LHS -->
                <button type="button" class="list-group-item list-group-item-action disabled active">All Agents</button>
                <% agents.forEach(function(agent) { %> <!-- loop through every inspection passed through-->
                <button type="button" onclick="window.location.href='../agents/<%= agent.agent_name %>';" class="list-group-item list-group-item-action"><%= agent.agent_name %></button>
                <% }) %>
            </ul>
    <!-- inspection.header_items.forEach(function(header_item) {}
        print(header_item['parent_id'])
        )}-->
    </div>
    <% agents.forEach(function(agent) { %>
    <div class="col-md-12 lefthandselector" id="<%=agent.agent_name%>" style="display:none">
        <h4><%= agent.agent_name%></h4>
        <!-- put all the other data in here-->
    </div>
    <% }) %>
