<%- include('../_partial/_header'); -%>
<div class="col-md-6 offset-md-3"> 
    <div class="container col-md-12" style="margin: 1em 0em 1em 0em; min-height: 500px;">
        <h1 >Create Account</h1>
        <br/>
        <form class="form-signin" method="POST" action="/signup">
            <div class="form-floating">
                <input type="input-group-text" class="form-control" id="basic-addon1" name="username" placeholder="myUserName">
                <label for="floatingInput">Username</label>
            </div><br/>
            <div class="form-floating">
                <input type="email" class="form-control" id="basic-addon1" name="email" placeholder="name@example.com">
                <label for="floatingInput">Email address</label>
            </div><br/>
            <div class="form-floating">
                <input type="password" class="form-control" id="basic-addon1" name="password" placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div><br/>
            <div class="form-floating">
                <input type="password" class="form-control" id="basic-addon1" name="repassword" placeholder="Re-password">
                <label for="floatingPassword">Re-password</label>
            </div><br/>
            <input type="submit" class="btn btn-primary" value="Sign Up" />
        </form>
    </div>
</div>



<%- include('../_partial/_footer'); -%>