</div>
</body>
<footer style="flex: 0 0 auto"> 
    <div class="navbar navbar-default navbar-static-bottom" role="navigation">
        <div class="container">
        </div>
           <div class="navbar-footer">
           </div>
           <ul class="nav navbar-nav navbar-left">
           <li><a href="/">Home</a></li>
           </ul>
       </div>
   </div>
</footer>
</html>
