<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>Real Estate Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--- version 3.3.6 for nac bar 4.5.2 for columns-->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script> 
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>


</head>
 
<body>
    <div class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container">
           <div class="navbar-header">
           <a class="navbar-brand" href="/">Real Estate Dashboard</a>
           </div>
           <ul class="nav navbar-nav navbar-right">
           <% if(currentUser != null) { %>
                <li><a href="#">Welcome, <%= currentUser.username %></a></li>
           <%}%>
           <!-- these hrefs redirect to the routes in home.js, not the view files-->
           <li><a href="/">Home</a></li>
           <li><a href="/dashboard">Dashboard</a></li> 
           <% if(currentUser != null) { %>
            <li><a href="/inspections">Inspections</a></li>
            <li><a href="/logout">Logout</a></li>
           <%}%>
           <% if(currentUser == null) { %> 
           <li><a href="/login">Log In</a></li>
           <li><a href="/signup">Sign Up</a></li>
           <% } %>
           </ul>
       </div>
   </div>
 
<div class="container">
<% if (error && error.length > 0) {%>
    <div class="alert alert-danger" role="alert">
        <%= error %> <!-- displays the 'danger' error -->
    </div>
<% } %>

<% if (info && info.length > 0) { %>
    <div class="alert alert-info" role="alert">
        <%= info %> <!-- displays the 'alert' error -->
    </div>
<% } %>